/* Qualquer Pagina que eu quiser que tenham os estilos desse arquivo é so eu fazer o link , facilitando o trabalho */

body {
    background: #CCCCCC;
    margin: 0;
}

#banner {
    width: 100%;
    
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulo-principal {
    text-align: center;
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {   /* Estou dizendo que todos os paragrafos estaram com a propriedade do style text-align  */
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 20%;
}

.imagemBeneficios {
    width: 40%;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px;
}

.copyright {
    color: #FFFFFF;
    font-size: 15px;
    margin: 20px;
}