body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #F5F5F5;
}

.foto-principal {
    height: calc(100vh - 153px);
    background-image: url("./img/LogoCinza.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}  

.fotos {
    display: flex;
    vertical-align: center;
    align-items: center;
}

.banner {
    width: 100%;
}

img {
    max-width: 100%;
}

h1 {
    width: 120px;
}

.caixa {
    width: 940px;
    margin: 0 auto;
}

.container {
    max-width: 970px;
    margin: 0 auto;
}

.container-full {
    max-width: 1390px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.container-teste {
    display: flex;
    vertical-align: bottom;
  
}

nav ul {
    display: flex;
    vertical-align: bottom;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;    /* Transformar Texto em MAIUSCULO */
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.titulo-principal {
    text-align: center;
    font-size: 3em;   /* Siginifica que é 2 x o tamanho da fonte base (15px)  */
    margin: 0 0 1em;
    clear: left;
    font-family: 'Dancing Script', cursive;
}

.principal {
    background: #F5F5F5;
}

.principal > div {
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
    font-size: 1.3em;
}

#amor, #missao, #descricao {
    text-align: center;
}

.principal b {
    font-weight: bold;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#F5F5F5, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

footer {
    background: linear-gradient(#888888, #000000);
    text-align: center;
    padding: 40px;
}

.copyright {
    font-size: 15px;
    color: #F5F5F5;
}